* {
	box-sizing: border-box;
	font-family: "Lobster Two";
}

body {
	padding-top: 70px;
}
.nav-bar{
  background: #56CBF4;
}
.section {
	height: 100vh;
	background-image: url("../img/fondo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	width: 100%;
	text-align: center;
}
