* {
	box-sizing: border-box;
}

body {
	padding-top: 70px;
	height: 100vh;
	background-image: url("../img/fondo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	width: 100%;
	text-align: center;
}
.nav-bar{
  background: #019bdb;
}
