* {
	box-sizing: border-box;
}

body {
	padding-top: 100px;
}

.navbar-default {
	background-color: #019bdb;
}

.navbar-red {
	background-color: red;
}

.navbar-default .navbar-text {
	color: #ffffff;
}

.tachado {
	text-decoration: line-through;
}
